apiVersion: v1
data:
  {{ if and .APIServer.CustomKfpLauncherConfig .APIServer.CustomKfpLauncherConfig.Name }}
  defaultPipelineRoot: {{.APIServer.CustomKfpLauncherConfig.DefaultPipelineRoot}}
  providers: |
    s3:
      endpoint: {{.APIServer.CustomKfpLauncherConfig.Endpoint}}
      region: {{.APIServer.CustomKfpLauncherConfig.Region}}
      defaultProviderSecretRef:
        secretName: {{.APIServer.CustomKfpLauncherConfig.SecretName}}
        accessKeyKey: {{.APIServer.CustomKfpLauncherConfig.AccessKeyKey}}
        secretKeyKey: {{.APIServer.CustomKfpLauncherConfig.SecretKeyKey}}
  {{ else }}
    {{ if .ObjectStorageConnection.BasePath }}
    defaultPipelineRoot: s3://{{.ObjectStorageConnection.Bucket}}/{{.ObjectStorageConnection.BasePath}}
    {{ else }}
    defaultPipelineRoot: s3://{{.ObjectStorageConnection.Bucket}}
    {{ end }}
    providers: |
      s3:
        endpoint: {{.ObjectStorageConnection.Endpoint}}
        region: {{.ObjectStorageConnection.Region}}
        defaultProviderSecretRef:
          secretName: {{.ObjectStorageConnection.CredentialsSecret.SecretName}}
          accessKeyKey: {{.ObjectStorageConnection.CredentialsSecret.AccessKey}}
          secretKeyKey: {{.ObjectStorageConnection.CredentialsSecret.SecretKey}}
  {{ end }}
kind: ConfigMap
metadata:
  name: kfp-launcher
  namespace: {{.Namespace}}
  labels:
    app: ds-pipeline-{{.Name}}
    component: data-science-pipelines
